LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [4]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [5]:
# Check
lesser_of_two_evens(2,4)

2

In [6]:
# Check
lesser_of_two_evens(2,5)

5

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

In [11]:
def animal_crackers(text):
    return text.split()[0][0] == text.split()[1][0]

In [12]:
# Check
animal_crackers('Levelheaded Llama')

True

In [13]:
# Check
animal_crackers('Crazy Kangaroo')

False

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

In [14]:
def makes_twenty(n1,n2):
    return (n1+n2) == 20 or (n1 == 20) or (n2 == 20)

In [15]:
# Check
makes_twenty(20,10)

True

In [16]:
# Check
makes_twenty(2,3)

False

In [17]:
# Check
makes_twenty(10,10)

True

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [39]:
def old_macdonald(name):
    temp = ""
    for indx, letter in enumerate(name):
        if indx == 0 or indx == 4:
            letter = letter.upper()
        temp += letter
    return temp

In [40]:
old_macdonald("string")

'StriNg'

In [41]:
# Check
old_macdonald('macdonald')

'MacdOnald'

MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])
>>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])
>>> "Hello world"

In [42]:
def master_yoda(sent):
    sent = sent.split()[::-1]
    sent = " ".join(sent)
    return sent

In [43]:
# Check
master_yoda('I am home')

'home am I'

In [44]:
# Check
master_yoda('We are ready')

'ready are We'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True

In [45]:
def almost_there(n):
    return (n < 111 and n > 89) or (n < 211 and n > 189)

In [46]:
almost_there(90)

True

In [47]:
almost_there(104)

True

In [48]:
almost_there(150)

False

In [49]:
almost_there(209)

True

FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False

In [56]:
def has_33(nums):
    for index,numb in enumerate(nums):
        try:
            temp = numb == 3 and nums[index+1] == 3
        except IndexError:
            break
    return temp

In [57]:
has_33([1, 3, 3])

True

In [58]:
has_33([1, 3, 1, 3])

False

In [59]:
has_33([3, 1, 3])

False

In [60]:
has_33([3, 3])

True

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiissssssiiippppppiii'

In [62]:
def paper_doll(word):
    temp = ""
    for letter in word:
        temp += letter * 3
    return temp

In [63]:
paper_doll('Hello')

'HHHeeellllllooo'

In [64]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [5]:
def blackjack(x,y,z):
    s = x + y + z
    if s <= 21:
        return s
    else:
        if 11 in (x,y,z):
            s -= 10
            return s
        else:
            return "BUST"

In [6]:
blackjack(5,6,7)

18

In [7]:
blackjack(9,9,9)

'BUST'

In [8]:
blackjack(9,9,11)

19

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14

In [38]:
def summer_69(arr):
    s = 0
    skip = False
    for x in arr:
        if x == 9:
            skip = False
            continue
        if skip:
            continue
        if x == 6:
            skip = True
            continue
        s += x
    return s

In [39]:
# Check
summer_69([1, 3, 5])

9

In [40]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [41]:
# Check
summer_69([2, 1, 6, 9, 11])

14

SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
 spy_game([1,2,4,0,0,7,5]) --> True
 spy_game([1,0,2,4,0,5,7]) --> True
 spy_game([1,7,2,0,4,5,0]) --> False

In [50]:
#if literally in order
def spy_game(nums):
    for index,x in enumerate(nums):
        if x == 7:
            if nums[index - 1 ] == 0 and nums[index - 2 ] == 0:
                return True
    return False

In [51]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [52]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [53]:
# Check
spy_game([1,7,2,0,4,5,0])

False

In [54]:
# By ignore numbers in between

In [55]:
def spy_game(nums):
    order = ""
    for index,x in enumerate(nums):
        if x == 0:
            order += "0"
        elif x == 7:
            order += "7"
    return "007" in order

In [56]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [57]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [58]:
# Check
spy_game([1,7,2,0,4,5,0])

False

COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [61]:
def count_primes(num):
    count = 0
    primes = []
    for x in range(num):
        if x==0 or x==1:
            continue
        if primes:
            for index,y in enumerate(primes):
                if x % y == 0:
                    break
                else:
                    if index == len(primes) - 1:
                        primes.append(x)
                        break
                    continue
        else:
            primes.append(x)
    return len(primes)

In [62]:
count_primes(100)

25

In [63]:
count_primes(10)

4

Just for fun:
PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
print_big('a')

out:   *  
      * *
     *****
     *   *
     *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. 
For purposes of this exercise, it's ok if your dictionary stops at "E".

In [64]:
# I simply copied this example from solution, as this is simply unecessary work

def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    
    if letter in alphabet:
        for x in alphabet[letter]:
            print(patterns[x])

In [65]:
print_big("A")

  *
 * *
*****
*   *
*   *

In [66]:
print_big("B")

****
*   *
****
*   *
****