In [1]:
mylist = [1,2,3]

In [3]:
for num in range(3,10,2):
    print(num)

3
5
7
9

In [4]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [5]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
range(10)

range(0, 10)

In [7]:
index_count = 0
for letter in "abcde":
    print("At index {} the letter is {}".format(index_count, letter))

At index 0 the letter is a
At index 0 the letter is b
At index 0 the letter is c
At index 0 the letter is d
At index 0 the letter is e

In [8]:
index_count = 0
for letter in "abcde":
    print("At index {} the letter is {}".format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [9]:
index_count = 0
word = "abcde"

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [10]:
word = "abcde"

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [11]:
for index,letter in enumerate(word):
    print("{} : {}".format(index, letter))

0 : a
1 : b
2 : c
3 : d
4 : e

In [12]:
list1 = [1,2,3,4,5]
list2 = ['a', 'b', 'c', 'd']

for item in zip(list1, list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [13]:
list(enumerate(list1))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [14]:
list(zip(list1, list2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [18]:
for a,b in zip(list1, list2):
    print(b)

a
b
c
d

In [19]:
"x" in [1,2,3]

False

In [20]:
"x" in ["x", "y", "z"]

True

In [21]:
"a" in "a world"

True

In [22]:
"key" in {"key":1}

True

In [23]:
1 in {"key":1}.values()

True

In [24]:
li = [1,4,8,10]

min(li)

1

In [25]:
max(li)

10

In [26]:
from random import shuffle

In [27]:
mylist = [1, 2, 4, 5]

In [28]:
randomlist = shuffle(mylist)

In [29]:
print(randomlist)

None

In [30]:
print(mylist)

[2, 4, 5, 1]

In [31]:
shuffle(mylist)

In [32]:
mylist

[5, 4, 2, 1]

In [33]:
from random import randint

In [35]:
randint(0, 100)

86

In [36]:
randint(10,14)

11

In [37]:
input("Please enter something")

Please enter somethingsomething

'something'

In [39]:
input("Enter a number")

Enter a number4

'4'

In [40]:
num = input("Enter a number")

Enter a number4

In [41]:
print(num)

4

In [42]:
type(num)

str

In [43]:
int(num)

4

In [44]:
type(num)

str

In [46]:
type(int(num))

int

In [50]:
mystring = "Hello"

mylist = []

for letter in mystring:
    mylist.append(letter)

print(mylist)

['H', 'e', 'l', 'l', 'o']

In [51]:
mystring = [letter for letter in mystring]

In [52]:
mystring

['H', 'e', 'l', 'l', 'o']

In [53]:
mylist = [x for x in "word"]

In [54]:
mylist

['w', 'o', 'r', 'd']

In [55]:
mylist = [x for x in range(0,10,2)]

In [56]:
mylist

[0, 2, 4, 6, 8]

In [57]:
mylist = [x for x in "abcd"]

In [58]:
mylist

['a', 'b', 'c', 'd']

In [59]:
mylist = [x*x for x in [1, 2, 3, 4]]

In [60]:
mylist

[1, 4, 9, 16]

In [61]:
mylist = [1, 2, 3, 4]

mylist = [x for x in mylist]

In [62]:
mylist

[1, 2, 3, 4]

In [63]:
mylist = [x%2 for x in mylist]

In [64]:
mylist

[1, 0, 1, 0]

In [65]:
mylist = [x for x in range(1,4)]

In [66]:
mylist

[1, 2, 3]

In [67]:
mylist = [x for x in range(1,5)]

In [68]:
mylist

[1, 2, 3, 4]

In [70]:
mylist = [x for x in mylist if x % 2 ==0]

In [71]:
mylist

[2, 4]

In [72]:
mylist = [x**2 for x in range(1,5) if x %2 ==0]

In [73]:
mylist

[4, 16]

In [74]:
result = [x if x % 2 == 0 else "ODD NUMBER" for x in range(0,10)]

In [75]:
result

[0,
 'ODD NUMBER',
 2,
 'ODD NUMBER',
 4,
 'ODD NUMBER',
 6,
 'ODD NUMBER',
 8,
 'ODD NUMBER']

In [82]:
result = [x if x % 2 == 0 else x / 2 for x in range(1,10)]

In [83]:
result

[0.5, 2, 1.5, 4, 2.5, 6, 3.5, 8, 4.5]

In [90]:
mylist = []
for x in [2, 4, 8]:
    for y in [100, 200, 300]:
        mylist.append(x*y)

In [91]:
mylist

[200, 400, 600, 400, 800, 1200, 800, 1600, 2400]

In [95]:
mylist = [x*y for x in [2, 4, 8] for y in [100, 200, 300]]

In [96]:
mylist

[200, 400, 600, 400, 800, 1200, 800, 1600, 2400]